.filterSelect {
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    width: 150px;
    height: 40px;
    background-color: #000;
    padding-left: 10px;
    color: #fff;
    outline: none;
    transition: .5s all;

    &:hover {
        transition: .5s all;
        background-color: rgb(64, 64, 64);
    }
}



.hashOption {
    color: #fff;
}