.form {
    margin: 10px;
    background-color: #000;
    width: 300px;
    height: 250px;
    border: 2px solid #fff;
    padding-bottom: 20px;
    animation: noteCreate .3s linear;
}

.wrapp {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    font-size: 18px;
    font-weight: 400;
    padding: 0px 8px;
    width: 100%;
    border: none;
    background-color: #000;
    outline: none;
    height: 100%;
}

.btn {
    outline: none;
    border: none;
    min-width: 38px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-left: 2px solid #fff;
    background-color: #000;
}

.btn:last-child:hover {
    background-color: #ef4747;
}
.btn:nth-child(2):hover {
    background-color: #47cdef;
}

.wrappText {
    width: 100%;
    position: relative;
    padding: 15px 10px;
    height: 150px;
    border-bottom: 2px solid #fff;
}

.container,
.textArea,
.hashSpan {
    font-size: 16px;
    font-weight: 300;
}
.container,
.hashSpan {
    display: inline-block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    letter-spacing: normal;
    word-spacing: .1em;
    line-height: normal;
    appearance: auto;
    text-align: start;
    color: transparent;
}

.container,
.textArea {
    padding: 10px 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.container {
    color: transparent;
}

.textArea {
    word-spacing: .1em;
    overflow: hidden;
    border: none;
    resize: none;
    outline: none;
    color: #fff;
}

.hashSpan {
    position: relative;
    left: -1px;
    border-radius: 5px;
    background-color: rgb(79, 196, 97);
}

.hashSpan:nth-child(2n) {
    background-color: rgb(79, 112, 196);
}

.hashtags {
    padding: 10px;
    display: flex;
    align-items: center;
}
.itemHashtag {
    border-radius: 5px;
    cursor: pointer;
    margin: 0 2px;
    background-color: rgb(79, 196, 97);
}
.itemHashtag:nth-child(2n) {
    background-color: rgb(79, 112, 196);
}


@keyframes noteCreate {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }

}