.formWrapp {
    margin: 10px;
    width: 300px;
    height: auto;
    animation: noteCreate .3s linear;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 10px; */
    background-color: #000;
    min-width: 300px;
    min-height: 250px;
    border: 2px solid #fff;
}

@keyframes noteCreate {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }

}