@import '../../Global/variables';

.hashtags {
    border: 2px solid #fff;
    border-top: none;
    width: 300px;
    min-height: 50px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.itemHashtagActive {
    margin: 0 2px;
    background-color: transparent;
    color: $colorHashtagOne;
    
    &:nth-child(2n) {
        color: $colorHashtagTwo;
    }
}


.itemHashtag {
    border-radius: 5px;
    cursor: pointer;
    margin: 0 2px;
    background-color: $colorHashtagOne;

    &:nth-child(2n) {
        background-color: $colorHashtagTwo;
    }
}

